# Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=

# Algorand Configuration
ALGO_LEDGER=TestNet
ALGO_NODE_ADDRESS=https://testnet-api.algonode.cloud
ALGO_NODE_TOKEN=
ALGO_INDEXER_ADDRESS=https://testnet-idx.algonode.cloud
ALGO_INDEXER_TOKEN=
ALGO_MNEMONIC=

# AI Inference Configuration
HF_API_TOKEN=
